.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  background-color: #F7E9CA;
}

.jumbotron {
  border-radius: 0px;
}

.row > div[class*='col-'] {
  display: flex;
  flex: 1 0 auto;
}

footer {
  padding-top: 16px;
}

.navbar {
  box-shadow: 200px;
}

a {
  color: #ef5350;
}

a:hover, a.color-grey-700:hover {
  color: #5486c0;
  text-decoration: none;
}

.btn {
  background-color: #E0A62D;
  border: 3px solid #E0A62D;
}

.btn:hover, .btn:active {
  background-color: #B77D04;
  border: 3px solid #B77D04;
}